body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #afd1f2;
  color: #333;
}

/* Header */
header {
  background-color: #1e1265;
  color: rgb(239, 234, 234);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

#carrito-icon {
  cursor: pointer;
  background-color: #bdbab2;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
}

#contador-carrito {
  background-color: #b2b3bd;
  color: rgb(68, 39, 213);
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 50%;
}

/* sector categorias */
.categorias {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.categoria-btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e9ecef;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.categoria-btn.activo,
.categoria-btn:hover {
  background-color: #0d6efd;
  color: white;
}

/* Contenedor principal */
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

#productos .grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

/* cards de los Productos */
.producto {
  background-color: #ffffff;
  border: 1px solid #451cc1;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(48, 12, 137, 0.1);
  transition: transform 0.2s ease;
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.producto h3 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.producto p {
  margin: 0.3rem 0 0.8rem;
  font-weight: bold;
  color: #198754;
}

.producto button {
  padding: 0.4rem 0.8rem;
  background-color: #198754;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.producto button:hover {
  background-color: #157347;
}

/* Carrito */
#carrito {
  background-color: rgb(208, 217, 223);
  border: 1px solid #451cc1;
  border-radius: 10px;
  padding: 1rem;
  max-height: 600px;
  overflow-y: auto;
}

#carrito h2 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #0a0a0b;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 0.5rem;
}

.item-carrito button {
  background-color: #171414;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
}

#total {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#finalizar-compra {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #1e1c9c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

#finalizar-compra:hover {
  background-color: #0b5ed7;
}

/* Responsive */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  #carrito {
    margin-top: 2rem;
  }
}
